.form{
    background: #11114e;
    text-align: center;
    color: aliceblue;
    margin-left: 29%;
    margin-right: 29%;
    border-radius: 10px;
}

.form .container_protocoll{
    margin-left: 0,1%;
    margin-right: 1%;

}


