/*Corpo da aplicação*/
*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to top, rgba(255, 194, 25, 0.5), rgb(241, 241, 20));
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/*Formularios divs*/
.form{
    align-items: center;
    min-width: auto;
    max-width: 30%;   
    margin: 0 auto;
    
}


.form1{
    background: #fff;
    text-align: center;
    padding: 1% 5% 3% 1%;
    border-radius: 10px;
   
}

.hide{
    
    display: none;
       
}

.form2 {
    background: #fff;
    border-top: 2px solid #000000;
    text-align: center;
    border-radius: 10px;
    padding: 0% 0% 1% 0%;
   
    
    
}


/*Elementos do formulário 1*/

#button-protocoll{
    cursor: pointer;
}

input::placeholder{
    font-size: 11px;
    text-align: center;
}
input{
    border-radius: 5px;
    margin-bottom: 10px;
    width: 50%;
    margin-top: 5px;
}

button{
    border-radius: 5px;
    background: #d1e3e38d;
}
/*Elementos do formulário 2*/

.form2 #status-search .elements-form {
    padding-bottom: 15px;
    padding-left: 10px;
   
}
.form2 #status-search .elements-form li {
    list-style-type: none;
    
    padding-bottom: 1px;
    display: flex;
    
    
}

.form2 #status-search .elements-form li span{
    
    justify-content: space-between;
    padding-left: 2px;
    
    
}

.form2 #status-search .elements-form #evento-mensagem{
    word-wrap: break-word;
}
 
/*Barra de menu superior*/
  .nav-bar ul li{
    display: inline-block;
    padding: 10px;
    margin-top: 14px;
    
}

.nav-bar ul li a{
    color: rgb(248, 248, 248);
    text-decoration: none;
    font-size: 3vh;
    font-weight: bold;
    
    
    
}

.nav-bar{
    background: #131212;
    height: 50px;
    margin-bottom: 50px;
}